@import "variables";
.Error {
  color: #fff;
  display: inline-block;
  margin-left: $gutter/2;
  background: rgba(0,0,0,0.2);
  padding: 5px 10px;
  border-radius: 5px;
  .material-icons {
    margin-right: 10px;
  }
}
