@import "app/variables";
.Button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid $primaryColor;
  color: $primaryColor;
  padding: 6px 12px;
  transition: background-color 0.3s;
  &:hover {
    background: lighten($primaryColor, 30%);
  }
  &.disabled {
    color: $grey;
    border-color: $grey;
  }
  &.primary {
    color: white;
    background: $primaryColor;
    &:hover {
      background: $primaryColorLight;
    }
    &.disabled {
      background: $grey;
    }
  }
}
