@import "app/variables";
.Button {
  display: inline-block;
  font-family: $font-sans;
  font-weight: 500;
  cursor: pointer;
  border: 1px solid $primaryColor;
  color: $primaryColor;
  padding: 6px 12px;
  margin: 0 10px 10px 0;
  border-radius: 4px;
  transition: background-color 0.3s;
  &:hover {
    background: lighten($primaryColor, 30%);
  }
  &.disabled {
    color: $grey;
    border-color: $grey;
  }
  &.primary {
    color: white;
    background: $primaryColor;
    &:hover {
      background: $primaryColorLight;
    }
    &.disabled {
      background: $grey;
    }
  }
  .material-icons {
    vertical-align: middle;
    margin-right: 10px;
  }
}
