/**
 * Global Styles
 */

@import 'app/variables';

body {
  font-family: Roboto, sans-serif;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: auto;
}

p {
  font-family: Lora, serif;
}
