/**
 * Variables - layout and branding
 */

/**
 * Colors
 * From Material Design palette:
 * https://material.io/guidelines/style/color.html#color-color-palette
 */

$primaryColor: #F44336; // red 600
$primaryColorLight: #D32F2F; // red 500
$grey: #888;

/**
 * Text
 */

$font-sans: 'Roboto', sans-serif;
$font-serif: 'Lora', serif;

@import '~modularscale-sass/stylesheets/modularscale';
$modularscale: (
  base: 1em,
  ratio: $augmented-fourth
);

/**
 * Layout
 */

$gutter: 30px;

/**
 * Breakpoints
 */

@mixin desktop {
  @media (min-width: 800px) {
    @content
  }
}

