@import 'variables';

#siteHeader {
  position: fixed;
  z-index: 100;
  width: 100%;
  background: $primaryColor;
  ul {
    margin: 0;
    list-style: none;
    float: right;
    a {
      display: block;
      color: #fff;
      text-decoration: none;
      line-height: 24px;
      padding: 16px 18px;
      background: $primaryColor;
      transition: background-color 0.3s;
      &:hover {
        background: $primaryColorLight;
      }
    }
    .material-icons {
      vertical-align: middle;
    }
  }
  li {
    display: inline-block;
  }
}
