@import "variables";
.TagsList {
  list-style: none;
  padding: 0;
  font-family: $font-sans;
  font-size: ms(-1);
  li {
    display: inline-block;
  }
  a {
    display: block;
    text-decoration: none;
    margin: 3px;
    padding: 3px 6px;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: transform 0.3s;
    &:hover {
      transform: translate(0, -5px);
    }
  }
}