@import "variables";

.Post {
  margin-top: $gutter;
  .featuredMedia {
    position: relative;
    padding-top: 100px;
    margin: -$gutter 0 $gutter;
    overflow: hidden;
    background-size: cover;
    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.5));
    }
    h2 {
      position: relative;
      color: white;
    }
  }

  h2 a {
    text-decoration: none;
    color: inherit;
  }
  .body {
  }
    .meta {
      width: 100%;
      border-top: 2px solid #f00;
      padding-top: 30px;
      margin: 30px 30px 30px 0;
      font-family: $font-sans;
      .material-icons {
        color: $primaryColor;
        margin-right: 10px;
        vertical-align: middle;

      }
    }
    .content {
      flex: 1;
    }
      .material-icons.more {
        font-size: 40px;
        color: $primaryColor;
      }
    .postContent {
      img {
        width: 100%;
        height: auto;
      }
    }
  .divider {
    margin: $gutter 0 0;
    height: 15px;
    background: $primaryColor;
  }

  @include desktop {
    .body {
      display: flex;
    }
    .meta {
      width: 200px;
      margin-right: 30px;
    }
  }
}
